name: Pages CI

on:
  push:
    branches: ['main']
    paths:
      - README.md
      - CHANGELOG.md
      - 'docs/**'
      - '_config.yml'
      - 'Gemfile*'
  pull_request:
    paths:
      - README.md
      - CHANGELOG.md
      - 'docs/**'
      - '_config.yml'
      - 'Gemfile*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
          cache-version: 0
      - name: Build with Jekyll
        run: bundle exec jekyll build
